Flask==2.3.2
pydantic-settings==2.0.3
loguru==0.7.0
requests==2.31.0
urllib3==2.0.4
python-dotenv==1.0.1
pydantic==2.9.2
typing-extensions==4.12.2
websockets==13.1
python-multipart==0.0.6
langchain-community==0.0.28
faiss-cpu==1.7.4
sentence-transformers==2.5.1
openai==1.12.0
